<app-header *ngIf="_authenticationService.checkLogin()">
    <!-- <button *ngIf="_authenticationService.checkLogin()"
        type="button" mat-button (click)="drawer.toggle()">toggle</button> -->
</app-header>

<mat-drawer-container autosize>
    <mat-drawer 
        *ngIf="_authenticationService.checkLogin()"
        #drawer mode="side" opened>
        <app-menu [menu]="menu"></app-menu>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>