@use 'assets/scss/colors_theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table { 
    width: 100%;
    margin-bottom: 20px;
}

mat-drawer-container {
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}